<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortner</title>
</head>
<body>
    <h1>Url Shortner Services</h1>
    <form action="/url" method="post">
        <label for="url">Enter original URL</label>
        <input type="text" name="url" id="" placeholder="https://example.com">
        <button type="submit">Submit</button>
    </form>

    <% if(locals.id){ %>
        <h2>URL Generated</h2>
        <h4>shorted id is : http://localhost:3000/api/<%= id %></h4>
    <% } %>
        <form action="/url/getallurls" method="get">
            <button type="submit">Get All urls</button>
        </form>
        <form action="/url/admin/getallurls" method="get">
            <button type="submit">Get All urls as Admin</button>
        </form>
</body>
</html>